<include file="Public:header" />
<include file="Public:left" />
	<form  method="post" enctype="multipart/form-data" id="brandForm">
     <section>
      <h2><strong>管理员编辑</strong></h2>
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;">管理员账号：</span>
        <input type="text" class="textbox textbox_295" name="account" id="account" placeholder="管理员账号..."/>
       </li>
          <li>
              <span class="item_name" style="width:120px;">管理员角色：</span>
              <select name="role_id" id="" class="textbox textbox_295" style="height: 35px">
                  <volist name="role" id="vo">
                      <option value="{$vo['role_id']}" >{$vo['role_name']}</option>
                  </volist>
              </select>
          </li>

          <li>
        <span class="item_name" style="width:120px;">管理员密码：</span>
        <input type="password" class="textbox textbox_295" name="passwd" id="passwd" placeholder="管理员密码..."/>
       </li>

	   
	   <li>
        <span class="item_name" style="width:120px;">确认密码：</span>
        <input type="password" class="textbox textbox_295" name="repasswd" id="repasswd" placeholder="确认密码..."/>
       </li>
	   
	   <li>
        <span class="item_name" style="width:120px;">真实姓名：</span>
        <input type="text" class="textbox textbox_295" name="real_name" id="real_name" placeholder="真实姓名..."/>
       </li>
	   
	   <li>
        <span class="item_name" style="width:120px;">联系电话：</span>
        <input type="text" class="textbox textbox_295" name="phone" id="phone" placeholder="联系电话..."/>
       </li>

	   
	   <li>
        <span class="item_name" style="width:120px;">联系地址：</span>
        <input type="text" class="textbox textbox_295" name="address" id="address" placeholder="联系地址..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="button" class="link_btn" value="提交"/>
       </li>
      </ul>
     </section>
	 </form>
     <!--tabStyle-->
     <script type="text/javascript">
     $(document).ready(function(){
		 //tab
		 $(".admin_tab li a").click(function(){
		  var liindex = $(".admin_tab li a").index(this);
		  $(this).addClass("active").parent().siblings().find("a").removeClass("active");
		  $(".admin_tab_cont").eq(liindex).fadeIn(150).siblings(".admin_tab_cont").hide();
		 });
		 
		 $(".link_btn").click(function(){
			
			if($("#account").val()==""){
				alert("管理员账号不能为空!");
				return false;
			}
			
			if($("#passwd").val()==""){
				alert("管理员密码不能为空!");
				return false;
			}
			
			if($("#passwd").val()!=$("#repasswd").val()){
				alert("两次密码不一样!");
				return false;
			}
			
			
			if($("#real_name").val()==""){
				alert("真实姓名不能为空!");
				return false;
			}
			
			if($("#phone").val()==""){
				alert("联系电话不能为空!");
				return false;
			}
			
			if($("#address").val()==""){
				alert("联系地址不能为空!");
				return false;
			}

			
			$("#brandForm").submit();

		 });

		 });
     </script>
	 
	 <script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');


    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }


</script>
	 


 </div>
</section>
</body>
</html>
