<include file="public:header" />
<include file="public:left" />
	<form  method="post" enctype="multipart/form-data" id="brandForm">
		<input type="hidden" name="id" value="{$banner.id}" />
     <section>
      <h2><strong>banner图编辑</strong><a style="float: right" href="javascript:void(0)" onclick="history.go(-1)">返回上一页</a></h2>
      <ul class="ulColumn2">
          <li>
              <input type="hidden" class="textbox textbox_295" name="title" value="{$banner.title}"/>

        <span class="item_name" style="width:120px;">主图：</span>
        <input type="file" name="bnimage" class="textbox textbox_295"/>
           <input type="hidden" name="bne" class="textbox textbox_295" value="{$banner.pic}"/> {$banner.title}
       </li>
          <if condition="$banner.pic">
              <li>
                  <span class="item_name" style="width:120px;">主图：</span>
                  <img height="100" src="__STATIC__/uploads/{$banner.pic}" alt="">
              </li>
          </if>
          <li>
              <span class="item_name" style="width:120px;">状态：</span>
              <label><input type="radio" name="status" <eq name="banner.status" value="1"> checked</eq> value="1"/>启用</label>
              <label><input type="radio" name="status" <neq name="banner.status" value="1"> checked</neq> value="0"/>弃用</label>
          </li>
          <li>
              <span class="item_name" style="width:120px;">排序：</span>
              <input type="text" class="textbox textbox_295" name="displayorder" value="{$banner.sort}"/>
          </li>
          <li>
              <span class="item_name" style="width:120px;">URL：</span>
              <input type="text" class="textbox textbox_295" name="url" value="{$banner.url}"/>
          </li>
          <li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="button" class="link_btn" value="提交"/>
       </li>
      </ul>
     </section>
	 </form>
     <!--tabStyle-->
     <script type="text/javascript">
     $(document).ready(function(){
		 //tab
		 $(".admin_tab li a").click(function(){
		  var liindex = $(".admin_tab li a").index(this);
		  $(this).addClass("active").parent().siblings().find("a").removeClass("active");
		  $(".admin_tab_cont").eq(liindex).fadeIn(150).siblings(".admin_tab_cont").hide();
		 });
		 
		 $(".link_btn").click(function(){
			
			
			$("#brandForm").submit();

		 });

		 });
     </script>
	 

	 


 </div>
</section>
</body>
</html>
