<include file="public:header" />
<include file="public:left" />
<style>
	td {
		text-align: center;
	}
</style>
<section>
	<div class="page_title">
		<h2 class="fl">版块介绍</h2>
	</div>
	<table class="table">
		<tr>
			<th>编号</th>
			<th>标题</th>
			<th>内容</th>
			<th>图片</th>
			<th>操作</th>
		</tr>

		<volist name="list" id="vo" key="k">
		<tr>
			<td>{$vo.id}</td>
			<td>{$vo.title}</td>
			<td style="width: 900px;">{$vo.des}</td>
			<td><img src="__STATIC__/uploads/{$vo.images}" style="height: 100px;"></td>
			<td>
				<a href="{:url('Set/in_edit',array('id'=>$vo['id']))}" class="inner_btn">编辑</a>
			</td>
		</tr>
		</volist>
	</table>
</section>

</div>
</section>
</body>

</html>